@* <div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">Alansar</a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Home
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="counter">
                <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Counter
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="weather">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Weather
            </NavLink>
        </div>
    </nav>
</div>

 *@

<!-- Bootstrap Nav Menu -->
<nav class="nav flex-column bg-light p-3" style="min-height: 100vh;">
    <a class="nav-link active" aria-current="page" href="/admin-home">
        <i class="bi bi-house-door-fill"></i> Home
    </a>
    <a class="nav-link" href="/sessions">
        <i class="bi bi-calendar-check-fill"></i> Session
    </a>
    <a class="nav-link" href="/classes">
        <i class="bi bi-mortarboard-fill"></i> Class
    </a>
    <a class="nav-link" href="booking">
        <i class="bi bi-building-fill"></i> Hostels
    </a>
    <a class="nav-link" href="dining">
        <i class="bi bi-egg-fried"></i> Dining Spaces
    </a>
    <a class="nav-link" href="view-assignments">
        <i class="bi bi-clipboard-fill"></i> Dining Assignments
    </a>
    <a class="nav-link" href="admin/students">
        <i class="bi bi-people-fill"></i> Manage Students
    </a>
    <a class="nav-link" href="profile">
        <i class="bi bi-person-circle"></i> Profile
    </a>
    <a class="nav-link" href="logout">
        <i class="bi bi-box-arrow-right"></i> Logout
    </a>
</nav>
